
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

.page {
    height: 100vh;
}

#about_us {
    background-color: rgb(60, 211, 141);
}

#products {
    background-color: rgb(85, 85, 68);
}

#contacts {
    background-color: rgb(187, 179, 72);
}

nav {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 60px;
    height: 60px;
    background-color: rgb(212, 214, 197);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a{
    padding: 20px;
    transition: background-color 0.5s ,
                box-shadow 0.5s;
}

nav ul li a:hover {
    background-color: bisque;
    box-shadow: 10px 10px 5px rgb(218, 163, 91);
}

nav .logo img {
    width: 90px;
    height: 50px;
}



